.header-container{
    background-color: #DFEDFA; 
    height: 50px;
    display: flex;
    justify-content:flex-end;
   font-weight: 700;
   font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    color: rgba(1, 27, 50, 0.7) ;

}
.list{
    display: flex;
   list-style: none;
margin: 0;
padding: 10px;
width: 700px;
justify-content: space-around;
align-items: center;

}
.list > input {
    border-radius: 33px;
    border:  1px solid  #011B32;
    width: 150px;
    height: 18px;
    padding: 5px;
    font-size: 17px;
    
}